/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*
  ========================================
  Customer Styles
  ========================================
Actually the whole body is colored by the secondary
while all other colors are layered on top*/
body {
    margin: 0 auto;
    background: #028CD5;
    color: #fff;
    font: 300 16px/20px "Source Sans Pro", "Open Sans", arial, sans-serif;
}

h5 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #028CD5;
    font-weight: 400;
}
h1 {
    font-size: 36px;
    margin-bottom: 10px;
    padding-top: 30px;
    font-weight: 400;
}
h4 {
    margin-left: 5px;
    font-size: 18px;
    padding-bottom: 30px;
}
/*
    ==========================================
    Page SKeleton
    ============================================
*/
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.container {
    width: 960px;
    margin: 0 auto;
    padding: 0 5px;
}
.primary-row,
.secondary-row {
    min-width: 960px;
}
.primary-row {
    background: #0AA6E1;
}
.secondary-row {
    background: #028CD5;
}
.content-row {
    color: #000;
    vertical-align: top;
    background: -webkit-linear-gradient(to right, #F0F0F0, #fff);
    background:    -moz-linear-gradient(to right, #F0F0F0, #fff);
    background:         linear-gradient(to right, #F0F0F0, #fff);
    box-shadow: inset 0 10px 5px -5px #c4c4c4;
}
#wrapper {
    margin: 0 auto;
    width: 100%;
}
.letter-box {
    background-size: auto 960px;
    min-width: 960px;
    display: flex;
}
/*
    ===================================
    HEADER
    ===================================
*/
.nav-header,
.header {
    vertical-align: middle;
}
.nav-header {
    text-align: left;
    padding: 15px 5px 0 5px;
}
.nav-header li {
    display: inline-block;
    margin: 0 10px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .5px;
}
.nav-header li:first-child {
    margin-left: 0;
}
.header {
    padding: 30px;
}
#hello {
    color: #fff;
    border-bottom: 1px solid #fff;
    padding: 0 2px 15px 2px;
    margin-bottom: 0;
}
#resume,
#portfolio {
    color: #4FADE4;
}
/*  ======================================
    Content
    =======================================
*/
.col-1-3,
.col-2-3 {
    vertical-align: top;
    display: inline-block;
}

.col-1-3 {
    width: 30%;
}
.col-2-3 {
    width: 69.9%;
}
.letter-meta {
    padding: 15px 5px;
    flex: 1;
    box-shadow: 0 0 4px 2px #c1c1c1;
    margin: 5px 0;
    background: #F0F0F0;
}
.letter-meta div {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #c1c1c1
}
.letter-body {
    background: #fff;
    box-shadow: 0px 0px 4px 2px #c1c1c1;
    padding: 15px 65px 15px 50px;
    margin: 5px 0;
}
.letter-body p {
    line-height: 20px;
    margin-bottom: 15px;
}
.letter-body p:last-child {
    margin-bottom: 0;
}
#sign {
    font-weight: 400;
}
/*
    ======================================
    FOOTER
    ======================================
*/
.top-shadow {
    box-shadow: 0px -10px 4px -5px #c1c1c1;
}
.footer-links {
    padding: 15px 0;
    text-align: center;
}
.icons li {
    display: inline-block;
    margin: 0 116px;
    margin-top: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #028CD5;
}
.links {
    font-size: 14px;
    text-align: left;
}
.links li {
    text-align: center;
    margin-top: 5px;
    display: inline-block;
}
.first {
    width: 30%;
    padding-left: 85px;
}
.second {
    width: 35%;
    padding-left: 40px;
}
.third {
    width: 30%;
    padding-right: 20px;
}
.icons img {
    width: 35px;
    height: 35px;
    margin-top: 10px;
}
#linkedin {
    width: 25px;
    height: 25px;
    margin-top: 10px;
}
#licircle {
    position: relative;
    bottom: 10px;
}
.footer-contact {
    padding: 30px 0 15px 0;
    text-align: center;
}
/*
  ========================================
  Clearfix
  ========================================
*/
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}