/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*
  ========================================
  Customer Styles
  ========================================
*/
.primary {
  background: #08A1DB;
}

.secondary {
  background: #0089CD;
}
body {
  /*background: -webkit-linear-gradient(to right, #F0F0F0 40%, #fff 33.4%, #fff);
  background:    -moz-linear-gradient(to right, #F0F0F0 40%, #fff 33.4%, #fff);
  background:      -o-linear-gradient(to right, #F0F0F0 40%, #fff 33.4%, #fff);
  background:         linear-gradient(to right, #F0F0F0 40%, #fff 33.4%, #fff);
  background-attachment: fixed;*/
  background: #0089CD;
  font: 400 16px/22px "Source Sans Pro", "Helvetica Neue", Arial;
  margin: 0 auto;
}
/*
  ========================================
  Typography
  ========================================
*/
h1, h2, h3, h4 {
  color: #fff;
}
h1, h2, h3, h3, p {
  margin-bottom: 16px;
}
h1 {
  font-size: 36px;
  line-height: 44px;
}
h2 {
  font-size: 26px;
  line-height: 44px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 18px;
}
p {
  font-size: 16px;
}
.text-offset {
  font-weight: 200;
  padding: 0 5px;
}

/*
  ========================================
  Grid
  ========================================
*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.container,
.grid {
  width: 960px;
  margin: 0 auto;
}
.center {
  margin: 0 auto;
}
.container {
  padding: 0 0;
}

.grid,
.col-1-3,
.col-2-3 {
  padding-right: 15px;
}
.col-1-3,
.col-2-3 {
  vertical-align: top;
  display: inline-block;
}
.col-1-3 {
  width: 30%;
}
.col-2-3 {
  width: 69.9%;
}
.first{
  text-align: center;
  display: inline-block;
  width: 30%;
}

.row,
.row-alt {
  min-width: 960px;
}
.row {
  background: #fff;
  padding: 66px 0 44px 0;
}
.row-alt {
  background: #fff;
  /*background: -webkit-linear-gradient(left, #F0F0F0 40%, #fff 40%, #fff 100%);
  background:    -moz-linear-gradient(left, #F0F0F0 40%, #fff 40%, #fff 100%);
  background:      -o-linear-gradient(left, #F0F0F0 40%, #fff 40%, #fff 100%);
  background:         linear-gradient(left, #F0F0F0 40%, #fff 40%, #fff 100%);*/

}
/*
  ========================================
  Navigation
  ========================================
*/
.primary-nav {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: uppercase;
}
.nav {
  text-align: left;
}
.nav li {
  display: inline-block;
  margin: 0 10px;
  vertical-align: middle;
}
.nav li:first-child {
  margin-left: 0;
}
/*
  ========================================
  Header
  ========================================
*/
.header {
  padding: 0;
}
.header-secondary {
  padding: 10px;
  vertical-align: middle;
}
.header .container h1 {
  margin-bottom: 16px;
}
#yahia {
  display: inline-block;
  float: right;
  vertical-align: top;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: 10px 0 10px 0;
}
#header-box {
  margin-top: 30px;
  display: inline-block;
  float: left;
}
#name {
  margin-bottom: 5px;
}
/*
  ========================================
  Main
  ========================================
*/
.main-body {
  text-align: center;
  width: 960px;
  margin: 0 auto;
  padding: 0 15px;
  color: #000;
}
/*
  ========================================
  Footer
  ========================================
*/
.footer,
.footer-secondary {
  vertical-align: middle;
}
.footer {
  padding: 30px;
}
.footer-secondary {
  padding: 5px;
  vertical-align: bottom;
  margin-bottom: 0;
}
.profiles {
  font-size: 18px;
}
.contact p {
  vertical-align: middle;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 0;
}
.footer-box {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  margin: auto;
  background-color: #efefef;
  text-align: center;
}
/*
  ========================================
  Cover Letter aka hello
  ========================================
*/
.letter-meta {
  text-align: left;
}
.letter-meta h5 {
  color: #08A1DB;
  margin: 15px 0;
}

.letter-meta div {
  margin-bottom: 45px;
  border-bottom: 1px solid #aaa;
}

.letter-meta div:last-child {
  border-bottom: 0;
}
.letter-body {
  padding: 15px;
}
.letter-body p {
  text-align: left;
  border-left: 1px solid #aaa;
  padding-left: 30px;
}
.letter-side {
  display: inline-block;
  /* inser float left */
}
.letter-style {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  width: 33.3%;
}

/*
  ========================================
  Clearfix
  ========================================
*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}