#hello {
    color: #4FADE4;
    border-bottom: none;
}
h5 {
    font-weight: 400;
    font-size: 22px;
    margin: 15px 0;
}
a {
    text-decoration: none;
    color: #028CD5;
}
a:hover {
    color: #0264d5;
}
#portfolio {
    color: #fff;
    border-bottom: 1px solid #fff;
}
#hello:hover {
    color: #fff;
}
.project-info {
    padding: 5px 45px 5px 0;
}
.project-info a {
    font-weight: 600;
}
.project-info p {
    font-weight: 300;
    font-size: 17px;
    margin-bottom: 15px;
}
.content-row {
    background: -webkit-linear-gradient(to bottom, #F0F0F0, #fff);
    background:    -moz-linear-gradient(to bottom, #F0F0F0, #fff);
    background:         linear-gradient(to bottom, #F0F0F0, #fff);
    box-shadow: inset 0 10px 5px -5px #c4c4c4;
}
